{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <div class="wrap">
        <form action="{% url 'home' %}" class="start" method="get">
            {{ form.as_p }}
            <p>
                <input type="submit" value="Qidirish" class="btn">
            </p>
        </form>


    {% if object_list %}
    <div class="wrap">
        <div>
            <form action="{% url 'home' %}">
                <input type="search" class="search" name="search" placeholder="Qidirish...">
            </form>
        </div>
    </div>
    {% endif %}

        {% for obj in object_list %}
            <div class="element">
                <p class="header">{{ obj.title }}</p>
                <h4 class="company">{{ obj.company }}</h4>
                <p class="body">{{ obj.description|linebreaksbr }}</p>
                <p class="footer">{{ obj.city.name }} | {{ obj.language.name }} | {{ obj.timestamp }}</p>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}